# Reloj principal del sistema

NET "CLK" LOC = "M6"; # Señal de reloj del sistema

# Conexiones de los DISPLAYS

NET "SEG7<0>" LOC = "M12"; # señal = CA
NET "SEG7<1>" LOC = "L13"; # Señal = CB
NET "SEG7<2>" LOC = "P12"; # Señal = CC
NET "SEG7<3>" LOC = "N11"; # Señal = CD
NET "SEG7<4>" LOC = "N14"; # Señal = CE
NET "SEG7<5>" LOC = "H12"; # Señal = CF
NET "SEG7<6>" LOC = "L14"; # Señal = CG

# Señales de activación de los displays

NET "AN<0>" LOC = "K14"; # Activación del display 0 = AN0
NET "AN<1>" LOC = "M13"; # Activación del display 1 = AN1
NET "AN<2>" LOC = "J12"; # Activación del display 2 = AN2
NET "AN<3>" LOC = "F12"; # Activación del display 3 = AN3

# Entrada externa donde se conecta la señal entrante

NET "SIN" LOC = "B2"; #Entrada terminal 1

# Entrada pulsador asociado al boton 3

NET "PULSADOR" LOC = "A7";

# Salida LEDS día de la semana

NET "LEDS<0>" LOC = "M11"; # LED 1
NET "LEDS<1>" LOC = "P7"; # LED 2
NET "LEDS<2>" LOC = "P6"; # LED 3
NET "LEDS<3>" LOC = "N5"; # LED 4
NET "LEDS<4>" LOC = "N4"; # LED 5
NET "LEDS<5>" LOC = "P4"; # LED 6
NET "LEDS<6>" LOC = "G1"; # LED 7